<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
        <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('locales/bootstrap-datepicker.ru.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
    </head>
    <body>
        <div class="col-md-2">
            <div class="left-menu">
                <div><a href="{{ path('homepage') }}">Главная</a></div>
                <div><a href="{{ path('alphabetic_employees_page') }}">По алфавитным группам</a></div>
            </div>
        </div>
        <div class="col-md-8">
            {% block body %}{% endblock %}
        </div>
        <div class="col-md-2"></div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
